page-friends {
    .user{
        float: left; 
        margin-left: 10px;
    }
    ion-footer{
        background-color: #222;
        color: white;
        font-size: 12px;
    }
    .item-ios .item-button {
        color: white;
    }
}
